<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.argya.utsakb">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="UTSAKB_10119035"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTSAKB"
        tools:targetApi="31">
        <activity
            android:name="com.argya.utsakb.MainActivity"
            android:exported="true"
            android:label="UTSAKB_10119035"
            android:theme="@style/Theme.UTSAKB.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.argya.utsakb.ui.diary.AddDiaryActivity"
            android:exported="false"
            android:label="Add Your Diary"
            android:parentActivityName="com.argya.utsakb.MainActivity" />
        <activity
            android:name="com.argya.utsakb.ui.diary.UpdateDiaryActivity"
            android:exported="false"
            android:label="Update Diary"
            android:parentActivityName="com.argya.utsakb.MainActivity" />
    </application>

</manifest>